 <div class="wrapper" >
	<div class="loginContainer">
		<h1>Welcome</h1>

		<form class="form">
			<input type="text" placeholder="Username" ng-model="username">
			<input type="password" placeholder="Password" ng-model="password">
			<button type="submit" ng-click="login()" id="login-button">Login</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
