
<!--<input type="text"  ng-model="no" />
<button class="btn btn-primary" ng-click="change()">Change</button>
-->
<div>
  <h2 class="textAllignCenter">Buyer</h2>
  <hr style="background-color: #aaa;border: 0 none;height: 1.7px;" />
  <div class="row " style="margin:15px">

    <div class="col-md-8 " >
      <div class="row well" >
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="col-md-4">
            <div class="{{(lcStatus==0)?'titleBoxBrown':'titleBoxBlue'}}" >
              <i class="fa fa-file-text" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="{{(lcStatus!=7)?'titleBoxBlue':'titleBoxBrown'}}{{(7<=lcStatus)?'':' titleBoxDisabled'}}" >
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="{{(lcStatus!=9)?'titleBoxBlue':'titleBoxBrown'}}{{(9<=lcStatus)?'':' titleBoxDisabled'}}" >
              <i class="fa fa-money" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row well">

        <div ng-show="lcStatus<=0" >
          <!--   Request to issue lc  -->
          <h3 class="textAllignCenter">Request to Issue Lc</h3>
          <br />
          <div class="reqBoxBlue divCenter" ng-click="requestLC()">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            Digitally Sign
            <i ng-show="digitallySign" style="color:black" class="fa fa-key fa-2x" aria-hidden="true"></i>

          </div>
            <br /><br /><br />  <br /><br /><br />  <br /><br /><br />
        </div>
        <div ng-show="lcStatus==7">
          <!--  goods received     -->
          <h3 class="textAllignCenter">Goods Received</h3>
          <br />
          <div class="reqBoxBlue divCenter" ng-click="goodsReceived()">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            Digitally Sign
            <i ng-show="digitallySign" style="color:black" class="fa fa-key fa-2x" aria-hidden="true"></i>

          </div>
            <br /><br /><br />  <br /><br /><br />  <br /><br /><br />
        </div>

        <div ng-show="lcStatus==9">
          <!--  Make payment   -->
          <!--  goods received     -->
          <h3 class="textAllignCenter">Make Payment</h3>
          <br />
          <div class="reqBoxBlue divCenter" ng-click="makePayement()">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            Digitally Sign
            <i ng-show="digitallySign" style="color:black" class="fa fa-key fa-2x" aria-hidden="true"></i>

          </div>
            <br /><br /><br />  <br /><br /><br />  <br /><br /><br />
        </div>
        <div >
          <!--  display message  -->
          <div ng-show="(lcStatus!=0 && lcStatus!=7 && lcStatus!=9)">
            <br />
            <br />
            <br /><br />
            <br /><br />
            <br />
            <div class="divCenter textAllignCenter"><h3>{{waitingMessage}}</h3></div>
            <br /><br /><br /><br /><br /><br /><br /><br />
          </div>
        </div >
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="well">

        <!--  ----------->
        <wallet wallet-owner="'Buyer'" asset-balance="buyerAccountBalance" account-address="buyerAccountAddress"></wallet>

        <!----------------->
      </br>
        <h4 class="textAllignCenter">Contract Details</h4>

        <div class="panel panel-primary" >
            <div class="panel-body wrap" >
              <table>
                <tr>
                  <td><h5>Issuing Bank:</h5></td>
                  <td><h5>SG India</h5></td>
                </tr>
                <tr>
                  <td><h5>Advisory Bank:</h5></td>
                  <td><h5>SG China</h5></td>
                </tr>
             </table>
             <div class="row" style="margin:10px">
               <div class="col-md-4 ">
                 <div class="docBoxBlue">LC</div>
               </div>
               <div class="col-md-4 ">
                 <div class="docBoxGrey">BOL</div>
               </div>
             </div>
            </div>
        </div>


    </div>
  </div>
</div>
<loc-status current-status="lcStatus"></loc-status>
