
<!--<input type="text"  ng-model="no" />
<button class="btn btn-primary" ng-click="change()">Change</button>
-->
<div>
  <h2 class="textAllignCenter">Buyer</h2>
  <hr style="background-color: #aaa;border: 0 none;height: 1.7px;" />
  <div class="row" style="margin:15px">

    <div class="col-md-8">
      <div >
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="well">

        <!--  ----------->
        <wallet wallet-owner="'Buyer'" asset-balance="20" account-address="123456789"></wallet>

        <!----------------->
      </br>
        <h4 class="textAllignCenter">Contract Details</h4>

        <div class="panel panel-primary" >
            <div class="panel-body wrap" >
              <table>
                <tr>
                  <td><h5>Issuing Bank:</h5></td>
                  <td><h5>SG India</h5></td>
                </tr>
                <tr>
                  <td><h5>Advisory Bank:</h5></td>
                  <td><h5>SG China</h5></td>
                </tr>
             </table>
             <div class="row" style="margin:10px">
               <div class="col-md-4 ">
                 <div class="docBoxBlue">LC</div>
               </div>
               <div class="col-md-4 ">
                 <div class="docBoxGrey">BOL</div>
               </div>
             </div>
            </div>
        </div>


    </div>
  </div>
</div>
<loc-status current-status="lstatus"></loc-status>
